<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="News">
    <select id="getAllNews" resultType="newsDTO">
        select *
        from news
    </select>
    <insert id="makeNews" parameterType="newsDTO">
        insert into news (
            member_index,
            title,
            content,
            category,
            tags
        ) values (
                     #{member_index},
                     #{title},
                     #{content},
                     #{category},
                     #{tags}
                 )
    </insert>
    <delete id="deleteNews" parameterType="map">
        delete
        from news
        where news_index = #{news_index}
    </delete>
    <update id="updateNews" parameterType="newsDTO">
        update news
        set
            title = case when #{title} is not null then #{title} else title end,
            content = case when #{content} is not null then #{content} else content end,
            category = case when #{category} is not null then #{category} else category end,
            tags = case when #{tags} is not null then #{tags} else tags end
        where
            news_index = #{news_index}
    </update>

    <!--    <insert id="makeJobs" parameterType="jobsDTO">-->
<!--        insert into jobs (-->
<!--            member_index,-->
<!--            title,-->
<!--            location,-->
<!--            level,-->
<!--            responsibilities,-->
<!--            qualification,-->
<!--            preferences,-->
<!--            start_date,-->
<!--            end_date-->
<!--        ) values (-->
<!--                     #{member_index},-->
<!--                     #{title},-->
<!--                     #{location},-->
<!--                     #{level},-->
<!--                     #{responsibilities},-->
<!--                     #{qualification},-->
<!--                     #{preferences},-->
<!--                     #{start_date},-->
<!--                     #{end_date}-->
<!--                 )-->
<!--    </insert>-->
<!--    <delete id="deleteJobs" parameterType="map">-->
<!--        delete-->
<!--        from jobs-->
<!--        where jobs_index = #{jobs_index}-->
<!--    </delete>-->
<!--    <update id="updateJobs" parameterType="map">-->
<!--        update jobs-->
<!--        set-->
<!--            title = case when #{title} is not null then #{title} else title end,-->
<!--            location = case when #{location} is not null then #{location} else location end,-->
<!--            level = case when #{level} is not null then #{level} else level end,-->
<!--            responsibilities = case when #{responsibilities} is not null then #{responsibilities} else responsibilities end,-->
<!--            qualification = case when #{qualification} is not null then #{qualification} else qualification end,-->
<!--            preferences = case when #{preferences} is not null then #{preferences} else preferences end,-->
<!--            start_date = case when #{start_date} is not null then #{start_date} else start_date end,-->
<!--            end_date = case when #{end_date} is not null then #{end_date} else end_date end-->
<!--        where-->
<!--            jobs_index = #{jobs_index}-->
<!--    </update>-->

</mapper>